
.navbar{background-color: #265728!important;}

#prescription .panel-heading {
    background-color: #265728!important;
    color: #fff!important;
}
.modal-header {
    background-color: #265728!important;
}
#prescription textarea {
    background-color: #dbefdc!important;
}