
@{
    Layout = "~/Areas/AttendanceTracking/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .tableHeader > td, .tableRow > td {
        width: 120px;
    }

    .label {
        text-transform: none !important;
    }
</style>


<div class="container-fluid" id="divWrapper" ng-controller="leaveController">
    <h4>Leave List</h4>
    <div class="row">
        <div class="col-sm-12">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
   
</div>


<script type="text/javascript">
    $(document).ready(function () {
        getAllData();
    });

    function getAllData() {
        jQuery("#gridList").jqGrid({
            url: '/AttendanceTracking/Leave/GetCompanyLeaves',
            datatype: "json",
            colNames: ['Id','Serial No', 'Requester','From Date','To Date','Leave Type','Leave Reason','Leave Days','Status'],
            colModel: [
                { name: 'Id', index: 'Id', hidden: true, key: true },
                { name: 'RequestNo', index: 'RequestNo', width: 120, search: true , formatter:viewFomatter },
                { name: 'EmployeeName', index: 'EmployeeName', width: 120, search: true  },
                { name: 'FromDateVw', index: 'FromDateVw', width: 120, search: true  },
                { name: 'ToDateVw', index: 'ToDateVw', width: 120, search: true  },
                { name: 'LeaveType', index: 'LeaveType', width: 120, search: true },
                { name: 'LeaveReason', index: 'LeaveReason', width: 200, search: true },
                { name: 'LeaveInDays', index: 'LeaveInDays', width: 100, search: true },
                { name: 'StatusName', index: 'StatusName', width: 120, search: true ,align: 'center', formatter: statusFomatter},
            ],
            rowNum: 20,
            rowList: [20, 30, 40, 50],
            pager: '#gridPager',
            sortname: 'RequestNo',
            sortorder: "asc",
            onSortCol: function (name, index) { },
            ondblClickRow: function (id) { },
            height: '100%',
            width: $(window).width()-350,
            rownumbers: true,
            viewrecords: true,
            emptyrecords: "No records to view",
            caption:"All Leaves"
            
        });
        jQuery("#gridList").jqGrid('navGrid', "#gridPager", { edit: false, add: false, del: false, search: false });
        jQuery("#gridList").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true, defaultSearch: "cn" });
    };
    function viewFomatter(cellvalue, options, rowObject) {
        return "<a style='text-decoration:underline;color:blue;' class='pointer' onclick='viewLeave(" + rowObject.Id + ")'>" + cellvalue + "</a>";
    }
    var viewLeave = function (id) {
        angular.element('#divWrapper').scope().ViewLeave(id);
        angular.element('#divWrapper').scope().$apply();
    };
    function statusFomatter(cellvalue, options, rowObject) {
        if (rowObject.StatusName == 'Pending')
                return "<span class='badge badge-warning'>" + cellvalue + "</span>";
            else if (rowObject.StatusName=='Approved')
                return "<span class='badge badge-success'>" + cellvalue + "</span>";
            else if (rowObject.StatusName=='Rejected')
                return "<span class='badge badge-danger'>" + cellvalue + "</span>";
            else
                return cellvalue;
        }
</script>