<div>
    <div class="modal-header">
        <div class="modal-title">Reject Reason</div>
        <div class="header-button-group">
            <div class="icon-cros" title="Close" ng-click="closeRejectModal()">X</div>
        </div>

    </div>

    <div class="modal-body">
        <textarea style="width:80%!important" ng-model="RejectReason"></textarea>
    </div>
    <div class="modal-footer" style="clear: both;">
        <div class="col-sm-12" style="text-align: right;">
            <button type="button" class="btn btn-success" ng-click="SaveRejectLeave(RejectReason)">Save</button>
        </div>
    </div>
</div>



