@{
    ViewBag.Title = "Registration Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<div class="row">
    <div class="col-md-8">
        <h4>Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email</h4>
    </div>
</div>
     </div>