
@{
    ViewBag.Title = "Company";
    Layout = "~/Areas/AttendanceTracking/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width:700px;margin-left:200px" ng-controller="changePasswordController">
    <div class="card-header section-card">Change Password</div>
    <div class="card-body" ng-init="GetInitUser()">
        <div class="col-sm-12">
            <div style="margin-top:5px" class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">User Name</label>
                        <div class="col-sm-7" style="float:left">
                            <input type="text" disabled class="form-control" ng-model="PasswordModel.UserName" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:5px" class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Old Password<span class="required-field">*</span></label>
                        <div class="col-sm-7" style="float:left">
                            <input type="password" class="form-control validator" ng-model="PasswordModel.OldPassword" required />
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:5px" class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">New Password<span class="required-field">*</span></label>
                        <div class="col-sm-7" style="float:left">
                            <input type="password" class="form-control validator" ng-model="PasswordModel.NewPassword" required />
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:5px" class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-5 control-label" style="float:left">Confirm Password<span class="required-field">*</span></label>
                        <div class="col-sm-7" style="float:left">
                            <input type="password" class="form-control validator" ng-model="PasswordModel.ConfirmPassword" required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;margin-top:15px;margin-right:25px">
            <button type="button" class="btn btn-success" ng-click="UpdatePassword()">Change Password</button>
        </div>
    </div>
</div>