
<style type="text/css">
    .modal-md {
        width: 40% !important;
    }
</style>
<div id="fundApprovalSetup">
    <div class="modal-header">
        <div class="modal-title">Master Data Setup </div>
        <div class="header-button-group">
            <div class="icon-cros" title="Close" ng-click="closeModal()">X</div>
        </div>

    </div>

    <div class="modal-body">

        <div class="content-panel light">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Input Option Type<span class="required-field">*</span></label>
                        <div class="col-sm-8">
                            <select class="form-control InputHelp" ng-model="InputHelpModel.InputHelpTypeId" ng-options="c.Value as c.Name for c in InputHelpTypeList" required>
                                <option value="">Select Type</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name<span class="required-field">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control InputHelp" ng-model="InputHelpModel.Name" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Is Active</label>
                        <div class="col-sm-2">
                            <label class="switch switch-primary">
                                <input type="checkbox" class="switch-input" ng-model="InputHelpModel.IsActive" />
                                <span data-off="No" data-on="Yes" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer" style="clear: both;">
        <div class="col-sm-12" style="text-align: right;">
            <button type="button" class="btn btn-success" ng-click="SaveInputHelp()">Save</button>
        </div>
    </div>

</div>



